@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --main-background: #fffab7;
    --main-elements: #5bbcff;
    --secondary-one: #ffd1e3;
    --secondary-two: #7ea1ff;
}



body {
    font-family: "Quicksand", sans-serif;
    background-color: rgb(116, 113, 96);
    margin: 0;
    min-width: 460px;
}

#city-name {
    font-size: 3rem;
}

#city-name, #current-temp {
    font-weight: 500;
}

#city-input {
    height: 40px;
    border-radius: 6px;
    width: 95vw;
    padding: 0;
    text-align: center;
}

#city-input, #submit-button {
    font-size: 22px;
    border: none;
    min-width: 460px;
    //find out how to fill 
    //all the width of the container
    //padding: 0 10px 0 10px;
}

#city-form-fset {
    height: 84px;
    min-width: 460px;
    width: 94vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    //text-align: center;
    min-width: 410px;
    border: none;
    padding: 0;
}

#current-temp {
    font-size: 4rem;
}

#weather-condition {
    font-size: 2rem;
}

#high-low-temp {
    font-size: 1.5rem;
}

#essential-info {
    display: flex;
    justify-content: space-between;
    height: 220px;
    padding: 10px 0;
}

#header, #forecast, #essential-info, #additional-info {
    width: 100%;
}

#forecast, #essential-info, #additional-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#forecast {
    background-color: var(--main-background);
}

#essential-info {
    background-color: var(--main-elements);
}

#additional-info {
    background-color: var(--secondary-one);
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 9rem;
    margin: 15px 0;
}

#logo-img {
    width: 50px;
    height: auto;
}

/* #search-form {
    width: 91vw;
} */

#submit-button {
    border-radius: 4px;
    padding: 0 10px;
    width: 95vw;
    height: 40px;
}